* {
    margin: 0;
    padding: 0;
    /* fon; */
    /*Courier New, Courier, monospace*/
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: radial-gradient(#222, #000);
    background-attachment: fixed
}

body {
    background: #000000;
    color: #fff;
}

#footer {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 100px;
    z-index: 10;
    box-shadow: 0 0 10px 2px #060057, 0 0 30px -20px #0011ff;
    /* border-radius: 15px; */
}

#header {
    font-family: 'Future Earth';
    width: 100%;
    height: 70vh;
    background-image: url(index.html);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 3%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}



nav ul li a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a:active {
    color: #3cff00;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3cff00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: rgb(248, 69, 153);
}

/* portfolio */
#portfolio,#skills {
    padding: 20px 20px;
    margin-top: 30px;
    color: #ffffff;
    background-image:  linear-gradient(rgba(29, 29, 29, 0.308), rgba(12, 12, 12, 0.349)),url(images/back3.jpg);
    /* background-image:  linear-gradient(rgba(29, 29, 29, 0.671), rgba(12, 12, 12, 0.904)),url(images/back3.jpg); */
    background-size:cover;
    /* border-radius: 60px; */
    box-shadow: 0 0 10px 2px #0c00bb, 0 0 100px -20px #0011ff;
}

.row {
    font-family: sans-serif;
    margin: 20px;
    background-color: #272727;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    transition: 0.2s;
    width:100%;
    height: 100%;
    box-shadow: 0 0 10px 0px rgba(255, 0, 157, 0.795), 0 0 50px -20px #00aeff;
}

.row:hover {
    box-shadow: 0 0 15px 5px #ff009d, 0 0 100px -20px #00c3ff;
    height:103%;
}

.portfolio-col-1 {
    margin: 10px;
    flex-basis: 10%;
}

.portfolio-col-1 img {
    border-radius: 15px;
    width: 300px;
}

.portfolio-col-2 {
    margin: 20px;
    flex-basis: 80%;
}

.row-skills {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    margin: 20px;
    /* background-color: #272727; */
    border-radius: 15px;
    transition: 0.2s;
    /* box-shadow: 0 0 10px 2px rgba(60, 255, 0, 0.795), 0 0 50px -20px #0011ff; */
}
.column-skills {
    /* display: flex; */
    flex-basis: 3%;
    text-align: center;
    margin: 20px;
    background-color: #272727;
    border-radius: 15px;
    transition: 0.2s;
    box-shadow: 0 0 10px 2px rgba(255, 0, 170, 0.795), 0 0 50px -20px #0084ff;
}
.skills-col-1 {
    /* flex-basis: 3%; */
}

.skills-col-1 img {
    margin: 10px;
    width: 300px;
    border-radius: 15px;
}

.skills-col-2 {
    margin: 10px;
    align-items: center;
}

.header-contents{
    font-family: 'Doctor Glitch';
    position:relative;

}
.header-contents h1 {
    font-family: 'Doctor Glitch';
    font-size: 60px;
    /* margin-top: 20px; */
    padding: 0px 10%;
}

.header-contents h1 span {
    font-family: 'Doctor Glitch';
    /* border: #0011ff; */
    z-index: 1;
    position:relative;
    border-left: 20px;
    margin-left: 100px;
    color: rgb(255, 103, 187);
}

.header-contents h1 span p {
    font-family: 'Doctor Glitch';
    z-index: -1;
    position: absolute;
    left: -2px;
    top: 0;
    color: rgba(16, 141, 173, 0.788);
  }